# 4.6 Practice - Combining & Exporting Data

### Contents list

#### 1. Import libraries and data
#### 2. Merge Dataframes
#### 3. Export as .pkl and .csv

#### 1. Import libraries and data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# declare path as variable

path = r'/Users/dekstrom/Documents/Career Foundry/Instacart Basket Analysis 11-2023'

In [3]:
# import orders_products_prior.csv as dataframe

df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','orders_products_prior.csv'), index_col = False)

In [10]:
# import orders_checked_sample.csv as dataframe

df_ords = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked_1.csv'), index_col = 0)

In [11]:
# check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
# check the output

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [19]:
# check the shape

df_ords_prior.shape

(32434489, 4)

In [18]:
# check the shape

df_ords.shape

(3421083, 7)

#### 2. Merge Dataframes

In [17]:
# merge df_ords and df_ords_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [20]:
# check the output

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [21]:
# check value counts

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [22]:
# outer merge df_ords and df_ords_prior

df_merged_large_outer = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [23]:
# check value counts

df_merged_large_outer['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [24]:
# check shape

df_merged_large.shape

(32434489, 11)

#### 3. Export as .pkl and .csv

In [26]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [25]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))