# 4.6 Task - Combining & Exporting Data

### Contents list

#### Question 3
#### Question 4
#### Question 5
#### Question 6
#### Question 7
#### Update based on Revision from Task 4.5

### Question 3

In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# declare path as variable

path = r'/Users/dekstrom/Documents/Career Foundry/Instacart Basket Analysis 11-2023'

In [5]:
# import orders_products_combined.pkl

df_ords_prods = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

### Question 4

Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [6]:
# check shape

df_ords_prods.shape

(32434489, 11)

In [7]:
# check output

df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [8]:
# drop merge flag

df_ords_prods = df_ords_prods.drop('_merge', axis=1)

In [9]:
# check shape

df_ords_prods.shape

(32434489, 10)

### Question 5

Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [10]:
# import orders_checked_sample.csv as dataframe

df_prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked_prodid_cleaned.csv'), index_col = 0)

In [11]:
# check output

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# check shape

df_prods.shape

(49672, 5)

Since we are combining based on a common key, **product_id**, I will use df.merge and i will use how = 'left' 
because the left dataframe is much larger.

In [13]:
# left merge using df.merge

df_merged = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

In [14]:
# check the shape

df_merged.shape

(32406318, 15)

In [15]:
# check the output

df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

### Question 6

Confirm the results of the merge using the merge flag.

In [16]:
# check value counts of _merge

df_merged['_merge'].value_counts()

_merge
both          32406318
left_only            0
right_only           0
Name: count, dtype: int64

### Question 7

Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [17]:
# Export data to pkl

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

### Update based on Revision from Task 4.5

Need to reimpute values for outliers to keep data up to date. avg_milk_price = 8.036666666666665 and avg_cotcheese_price = 6.757142857142858

In [3]:
# import orders_products_combined.pkl

df_merged = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge.pkl'))

In [6]:
# define variables

avg_milk_price = 8.036666666666665
avg_cotcheese_price = 6.757142857142858

In [13]:
# confirm max price

df_merged['prices'].max()

99999.0

In [36]:
# impute outlier price with avg_milk_price

df_merged.loc[df_merged['prices'] == 99999.0, 'prices'] = avg_milk_price

In [39]:
# impute outlier price with avg_milk_price

df_merged.loc[df_merged['prices'] == 14900.0, 'prices'] = avg_cotcheese_price

In [41]:
# check ouput

df_merged['prices'].max()

25.0

In [42]:
# check updated dataframe

df_merged.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.240632e+07,3.240632e+07,3.240632e+07,3.240632e+07,3.240632e+07,3.033013e+07,3.240632e+07,3.240632e+07,3.240632e+07,3.240632e+07,3.240632e+07,3.240632e+07
mean,1.710746e+06,1.029369e+05,1.714236e+01,2.738870e+00,1.342513e+01,1.110401e+01,2.559750e+04,8.352515e+00,5.895932e-01,7.119554e+01,9.919598e+00,7.790729e+00
std,9.872997e+05,5.946608e+04,1.753541e+01,2.090076e+00,4.246396e+00,8.779033e+00,1.408444e+04,7.127111e+00,4.919076e-01,3.821055e+01,6.281383e+00,4.241395e+00
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559450e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354100e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711049e+06,1.026130e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530000e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565505e+06,1.543880e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01

In [43]:
# Export data to pkl

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_revised.pkl'))